.customizer-handle {
  position: fixed;
  top: 12px;
  right: 18rem;
  z-index: 1;
}

.customizer-handle button {
  width: 35px !important;
  height: 35px !important;
  color: #BEC9C8;
  background: none;
  border: none;
}
